/* font style start */

open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* font style  end */

/* Sherd Styles Start */
.section-title{
    color: #ffffff;
    font-size: 72px;
    text-align: center;

}
.section-description{
    color: #ffffffa4;
    font-size: 18px;

}

body{
    margin:0 140px;
}
/* Sherd Styles end */

/* Header start */
header{
    margin: 50px auto;
}

.head-banner{
    background-image:
    linear-gradient(to bottom,#070211 ,#07021100 ),
    url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 16px;
    text-align: center;
}

.banner{
    padding: 170px 340px;
}

.banner-description{
    font-size:32px ;
    color: #ffffff;
}
/* Header end */

/* discount section start */
.discount{
    text-align: center;
    margin-top: 120px;
}
.discount-percent{
    font-weight: bold;
    font-size: 88px;
    color: #ff0000;
}

.discount-description{
    color: #ff0000;
    font-size: 24px;
}

.discount-title{
    color: #070211;
    font-size: 48px;
    
}

/* discount section ens */

/* <!-- party section start --> */
.party-section{
    
    background-image:
    linear-gradient(to right,#070211e5 ,#07021100 ), url('../images/Vectorrr.png ');
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 16px;
    text-align: left;
    padding: 126px 550px 300px 126px;
}

.party-container{
    
}
.party-title{
    color: #ffffff;
    font-weight: bold;
    font-size: 64px;
    width: 30%;
}
.party-description{
    width: 30%;
}
.party-link{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    
}
/* <!-- party section end --> */

/* <!-- Address section start --> */
.address{
    text-align: center;
    background-image:linear-gradient(to bottom,#ff000031 ,#ff000000) ;
    border-radius: 16px;
    padding: 110px 385px;
    margin-top: 120px;
}

.address-description-span{
    color: #ff0000;
    
}
.address-description{
    font-size: 32px;
    font-weight: 400;

}

.address-btn{
    color: #ffffff;
    background-color: #ff0000;
    font-size: 20px;
    font-weight:bold ;
    padding: 16px 32px;
    border: none;
    border-radius: 5px;
}

/* <!-- Address section end --> */

/*<!-- coming offer start -->*/
.offer-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 120px 0 120px 0;
    }
.offer-div{
    margin-right: 70px;
}
/* div 1 */
.offer-semiTitle{
    color: #ff0000;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}
.offer-title{
    color: #070211;
    font-size: 48px;
    font-weight: bold;
}
.offer-description{
    color: #07021173;
    font-size: 20px;
}

/* div 2 */
.offer-img{
    border: 10px solid red;
    padding: 50px;
    border-radius: 50%;
}

/* div 3 */
.year{
    color: #ff0000;
    font-weight: bold;
    font-size: 48px;
}
/*<!-- coming offer end -->*/

/* sale-section start */
.sale-section{
    /* align-items: center; */
    margin: 120px 140px;
}
.sale-text-container{
    align-items: center;
        text-align: center;
        

}
.sale-semi-title{
    color: #070211;
    font-weight: 600;
    font-size: 24px;
}
.sale-title-span{
    color: #ff0000;
}
.sale-title{
    color: #070211;
    font-weight: bold;
    font-size: 72px;
}

.sale-img-1{
    position: relative;
    top: 220px;
    margin-right: 200px;
}

/* sale-section end */